<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799366213828-ajh2347lqum0qv1chuj7jfakc576pmnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799366213828-ajh2347lqum0qv1chuj7jfakc576pmnp</string>
	<key>API_KEY</key>
	<string>AIzaSyA4x7mVCWfMS11UvCRRVtB-gmEEnS6KHIg</string>
	<key>GCM_SENDER_ID</key>
	<string>799366213828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.careparty</string>
	<key>PROJECT_ID</key>
	<string>care-party</string>
	<key>STORAGE_BUCKET</key>
	<string>care-party.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799366213828:ios:7d122a800f74570d7f1991</string>
</dict>
</plist>